@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');


:root{
    --text-colour-dark: #333;
    --text-colour-light: white;
    --primary-color: rgb(207, 76, 109);
}



*{
    padding: 0;
    margin: 0;
    /* border: 0; */
    text-decoration: none;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html{
    font-size: 14x;
    scroll-behavior: smooth;
}

body{
    user-select: none;
}

header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(51, 51, 51, 0.911),rgba(51, 51, 51, 0.521)),url(https://img.freepik.com/premium-photo/happy-family-smiling-front-palm-trees-vacation_14117-709399.jpg?w=740);
    background-size: cover;   
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

nav .bi-list{
    display: none;
}

.active{
    position: relative;
}

.active::after{
    content: "";
    background: var(--primary-color);
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50px;
    transform: translate(-50%);
    bottom: -12px;
    border-radius: 2px;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.nav-links li{
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a{
    color: var(--text-colour-light);
}

.nav-links li a:hover{
    color: var(--primary-color);
}

.reg-btn{
    background-color: var(--primary-color);
    color: var(--text-colour-light);
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid var(--primary-color);
    transition: all 200ms ease;
}

.reg-btn:hover{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all 200ms ease;
}

.container{
    padding: 0 7%;
}

header h1{
    font-size: 4vw;
    font-weight: 500;
    color: var(--text-colour-light);
    text-align: center;
    padding-top: 15%;
}

.search-bar{
    background-color: white;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.search-bar form input{
    display: block;
    outline: none;
    background: transparent;
    border: 0;
}

.search-bar form button{
    background: var(--primary-color);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.bi-search{
    width: 15px;
    /* margin-top: 7px; */
    font-size: 25px;
    color: var(--text-colour-light);
    border: 0;
}

.location-input{
    flex: 1;
}

.search-bar form label{
    font-weight: 600;
    color: var(--text-colour-dark);
}


/* ----------------------EXCLUSIVES---------------------- */



.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: var(--text-colour-dark);
}

.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}

.exclusives div img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.exclusives div {
    position: relative;
}

.exclusives div span{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: var(--text-colour-dark);
    /* background-color: #9999999a; */
    /* padding: 5px;
    border-radius: 5px; */
    /* text-align: center; */
}


/* ----------------------Trending Places---------------------- */


.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
   
}

.trending img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.trending h3{
    font-weight: 600;
    margin-top: 10px;
}


/* ----------------------Call TO Action---------------------- */


.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right, rgba(5, 1, 2, 0.644), transparent),url(https://cdn1.matadornetwork.com/blogs/1/2023/03/Oceanfront-villa-in-Santorini-Airbnb-2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    padding: 5%;
    color: var(--text-colour-light);
}

.cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.cta p{
    font-size: 18px;
    margin: 10px 0;
}

.cta-btn{
    background: var(--primary-color);
    color: var(--text-colour-light);
    padding: 12px 30px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid white;
    transition: all 200ms ease;
}

.cta-btn:hover{
    background: white;
    color: var(--primary-color);
    border: 1px solid rgb(207, 76, 109);
    transition: all 200ms ease;
}


/* ----------------------Travellers Stories---------------------- */


.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.stories div img{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.stories div{
    position: relative;
    text-align: center;
}

.stories p{
    width: 100%;
    height: 66px;
    align-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-colour-light);
    font-size: 25px;
    background: rgba(41, 34, 34, 0.24);
    cursor: pointer;
    transition: all 200ms ease;
}

.stories p:hover{
    top: 40%;
    transition: all 200ms ease;
}

.start-btn{
    background-color: var(--primary-color);
    color: var(--text-colour-light);
    width: 80%;
    max-width: 350px;
    display: block;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 60px auto;
    font-size: 20px;
    transition: all 200ms ease;
    border: 1px solid white;
}

.start-btn:hover{
    background: white;
    color: var(--primary-color);
    border: 1px solid rgb(207, 76, 109);
    transition: all 200ms ease;
}


/* ----------------------FOOTER---------------------- */


footer{
    margin: 80px 0 0;
    text-align: center;
    background-color: var(--text-colour-dark);
    padding: 40px;
}

footer a{
    margin: 0 5px;
    color: var(--text-colour-light);
    font-size: 25px;
}

footer h4{
    color: var(--text-colour-light);
    margin-bottom: 20px;
}

footer p{
    color: var(--text-colour-light);
    font-size: 10px;
}
footer span{
    color: var(--primary-color);
}

hr{
    height: 1px;
    margin: 20px 5%;
    border-radius: 5px;
}



/* --------------------MEDIA QUERY FOR MOBILE PHONES--------------------------- */




@media (max-width: 700px){
    .logo{
        position: fixed;
        top: 2%;
        left: 2%;
        width: 70px;
    }

    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #333;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: all 200ms ease;
    }

    nav .nav-links li{
        margin: 20px 0;
        display: block;
    }

    .reg-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }

    nav .bi-list{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: white;
        font-size: 30px;
        border: 1px solid #9999991f;
        border-radius: 5px;
        padding: 0 5px;
    }

    .active::after{
        top: 40%;
        left: -50px;
        transform: translate(50%, 80%);
    }

    .hidemenu{
        transition: all 200ms ease;
        max-height: 100%;
    }

    header h1{
        padding-top: 150px;
        font-size: 40px;
    }

    .search-bar{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
    }

    .search-bar form{
        display: block;
    }

    .search-bar form input{
        border-bottom: 1px solid #999;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .search-bar form button{
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 100%);
    }

    .sub-title{
        font-size: 30px;
    }

    .cta{
        padding: 15% 5%;
    }

    .cta h3{
        font-size: 30px;
        line-height: 40px;
    }

    .cta p{
        font-size: 14px;
    }

    .cta-btn{
        padding: 6px 15px;
        font-size: 14px;
    }

    .stories p{
        font-size: 22px;
    }

    footer a{
        margin: 0 5px;
        color: var(--text-colour-light);
        font-size: 14px;
    }
    
    footer h4{
        color: var(--text-colour-light);
        margin-bottom: 15px;
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    header{
        padding-bottom: 20px;
    }

    .logo{
        position: fixed;
        top: 2%;
        left: 2%;
        width: 70px;
    }

    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #333;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: all 200ms ease;
    }

    nav .nav-links li{
        margin: 20px 0;
        display: block;
    }

    .reg-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }

    nav .bi-list{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: white;
        font-size: 30px;
        border: 1px solid #9999991f;
        border-radius: 5px;
        padding: 0 5px;
    }

    .active::after{
        top: 40%;
        left: -50px;
        transform: translate(50%, 80%);
    }

    .hidemenu{
        transition: all 200ms ease;
        max-height: 100%;
    }

    header h1{
        padding-top: 110px;
        font-size: 40px;
    }

    .search-bar{
        width: 90%;
        margin: 10px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        /* background-color: aqua; */
    }

    .search-bar form{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
    }

    .search-bar form input{
        border-bottom: 1px solid #999;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .search-bar form button{
        position: relative;
        bottom:-50%;
        left: 100%;
        transform: translate(-50%, 50%);
    }

    .sub-title{
        font-size: 40px;
    }

    /* .cta{
        padding: 15% 5%;
    }

    .cta h3{
        font-size: 30px;
        line-height: 40px;
    }

    .cta p{
        font-size: 14px;
    }

    .cta-btn{
        padding: 6px 15px;
        font-size: 14px;
    } */

    .stories p{
        font-size: 14px;
    }

    footer a{
        margin: 0 5px;
        color: var(--text-colour-light);
        font-size: 14px;
    }
    
    footer h4{
        color: var(--text-colour-light);
        margin-bottom: 15px;
    }
}

